In [1]:
import pandas as pd

DailyTestRatesDF = pd.read_csv("Resources/daily_test_rates_texas.csv")

DailyTestRatesDF.head(3)

,date,state,cases_conf_probable,tests_viral_positive,tests_viral_total,tests_antigen_positive,tests_antigen_total,people_viral_positive,tests_combined_total
0,1/20/21,TX,2166283,2143645,16076028,142817,1545919,1898549,16076028
1,1/21/21,TX,2188643,2163363,16202370,144841,1560260,1917513,16202370
2,1/22/21,TX,2211289,2182159,16321080,147469,1582586,1935747,16321080

In [2]:
TXCombinedCompleteDF = pd.read_csv("Resources/texas_combined_completed_data.csv")
TXCombinedCompleteDF.head(3)

,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Incident_Rate,Total_Test_Results,Case_Fatality_Ratio,Testing_Rate,People_Fully_Vaccinated,People_Partially_Vaccinated
0,Texas,1/20/21,31.0545,-97.5635,2157459,33032,7440.570611,15935036,1.531060,54956.20568,179801.0,1095495.0
1,Texas,1/21/21,31.0545,-97.5635,2185554,33491,7537.463683,16076028,1.532380,55442.45405,203028.0,1132168.0
2,Texas,1/22/21,31.0545,-97.5635,2208871,33942,7617.878553,16202370,1.536622,55878.17801,205538.0,1182171.0

In [5]:
TexasDemographicsDF = pd.read_csv("Resources/texas_demographics.csv")
TexasDemographicsDF.head(3)

,State,Category,Metric,Demo_cat_0,Demo_cat_1,Estimate_type,April_2021,May_2021,June_2021,July_2021,August_2021,September_2021,October_2021
0,TX,Cases,confirmed,age,0_9,rate_percent,2.042581,2.103747,2.087370,2.109844,2.385216,2.385216,2.385216
1,TX,Cases,confirmed,age,0_9,total_cumulative,1578.000000,1660.000000,1659.000000,1690.500000,2384.000000,2384.000000,2384.000000
2,TX,Cases,confirmed,age,10_19,rate_percent,4.621450,4.730021,4.795038,4.856197,5.372740,5.372740,5.372740

In [6]:
TexasHospitalInfoCountyDF = pd.read_csv("Resources/texas_hospital_info_county.csv")
TexasHospitalInfoCountyDF.head()

,Long,Lat,HOSPITAL_NAME,HOSPITAL_TYPE,HQ_ADDRESS,HQ_ADDRESS1,HQ_CITY,HQ_STATE,HQ_ZIP_CODE,COUNTY_NAME,...,CNTY_FIPS,FIPS,NUM_LICENSED_BEDS,NUM_STAFFED_BEDS,NUM_ICU_BEDS,ADULT_ICU_BEDS,PEDI_ICU_BEDS,BED_UTILIZATION,Potential_Increase_In_Bed_Capac,AVG_VENTILATOR_USAGE
0,-95.628021,31.732734,Palestine Regional Medical Center,Short Term Acute Care Hospital,2900 S Loop 256,NaN,Palestine,TX,75801,Anderson,...,1,48001,156.0,150.0,10,10,0.0,0.427374,6,2.0
1,-102.546117,32.338150,Permian Regional Medical Center,Short Term Acute Care Hospital,720 Hospital Dr,NaN,Andrews,TX,79714,Andrews,...,3,48003,34.0,30.0,5,5,0.0,0.131050,4,2.0
2,-94.742122,31.336323,CHI St Lukes Health-Memorial Lufkin (FKA Memor...,Short Term Acute Care Hospital,1201 W Frank Ave,NaN,Lufkin,TX,75904,Angelina,...,5,48005,266.0,172.0,24,24,0.0,0.623048,94,6.0
3,-94.754122,31.328730,Woodland Heights Medical Center,Short Term Acute Care Hospital,505 S John Redditt Dr,NaN,Lufkin,TX,75904,Angelina,...,5,48005,149.0,145.0,15,15,15.0,0.421011,4,4.0
4,-98.526035,28.933112,Methodist Hospital - South (FKA South Texas Re...,Short Term Acute Care Hospital,1905 Texas Hwy 97 E,NaN,Jourdanton,TX,78026,Atascosa,...,13,48013,67.0,67.0,6,6,0.0,0.202045,0,2.0

In [7]:
TotalTestsCountyDF = pd.read_csv("Resources/total_tests_county.csv")
TotalTestsCountyDF.head()

,lat,long,county,province_state,combined_key,date,tests_combined_total
0,31.8153,-95.6535,Anderson,Texas,"Anderson, Texas, US",8/4/21,76144
1,32.3047,-102.6377,Andrews,Texas,"Andrews, Texas, US",8/4/21,8615
2,31.2546,-94.6090,Angelina,Texas,"Angelina, Texas, US",8/4/21,106541
3,28.1056,-96.9995,Aransas,Texas,"Aransas, Texas, US",8/4/21,21341
4,33.6157,-98.6875,Archer,Texas,"Archer, Texas, US",8/4/21,4462